/* colors */
:root {
    --light-blue: rgb(33, 133, 208);
}

.hidden,
.hidden.button,
.ui.card.hidden {
    display: none; 
}

html {
    margin-left: calc(100vw - 100%);
}

body{
    background-color: rgb(238, 247, 255);
}

h1.title {
    cursor: pointer;
}

.ui,
body,
h1,
h2,
h3,
h4,
h5,
html {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    margin: 0;
}

.ui.card > .content > .header.card-job-title {
    font-size: 1.25em;
}
.ui.card > .content > .header.card-subitle {
    font-size: 1em;
}

.ui.header {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

h1.ui.title.title {
    font-size: 3em;
    margin-top: 0.25em;
}

.ui.main-container {
    padding-left: 15px;
}

.ui.vertical.menu .menu .item .header {
    color: var(--light-blue);
    font-weight: 600;
    margin-top: 1em;
}

.ui.left.visible.sidebar,
.ui.right.visible.sidebar {
    box-shadow: none;
}

.ui.grid > .row {
    padding-bottom: 0;
}

.ui.vertical.menu .item {
    padding: 0 15px;
}

.ui.setup-cards {
    margin-top: 5px;
}

.menu-not-header {
    color: var(--light-blue);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: -10px;
    margin-top: 20px;
}
.ui.vertical.menu .menu .item {
    color: var(--light-blue);
}

.ui.button.top-nav {
    display: none;
}

@media only screen and (max-width: 991px) {
    .ui.button.top-nav {
        display: inline-block;
    }
}

a.job-links {

    margin-left: 1em;
}

.accent-icon {
    position: absolute;
    left: -53px;
    top: -43px;
    opacity: 1 !important;
}

.accent-icon-container{
    position: relative;
}

.accent-icon-text {
    position: absolute;
    width: 50px;
    line-height: 40px;
    text-align: center;
    left: -46px;
    top: -35px;
    font-weight: bold;
    color: yellow;
    font-size: .9em;
}

.pingpong {
    animation: pp 1s infinite linear alternate;
}
@keyframes pp {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(-20deg);
    }
  }

  .showload {
    animation: pulse .2s infinite alternate;
  }
  
  @keyframes pulse {
    from {
    }
    to {
      background-color: orange;
    }
  }

.rotating {
    animation: rotation 20s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .words ul {
    margin-top: .5em;
  }

  .words li {
      margin-bottom: .5em;
  }

  .words li>ul {
    font-size: 90%;
  }

  .words li.no-bullet {
    list-style-type: none;
  }

  .ui.label > .icon:last-of-type {
      margin-right: 0px;
  }

.ui.labeled.icon.button > .icon {
    background-color: rgba(0,0,0,0);
}

.ui.button.tag-buttons {
    padding: .5em;
    font-size: .75em;
    margin: 2px;
}
